/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
  /*background-color: lightblue;*/
}
ol {
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* конец кода сброса стилей браузера */
/*:root {
  --firefoxBrowser: #3d6cb0;
}*/
html, body
{
  font-family: "Myriad Pro", SansSerif, sans-serif;
}
.flex-container{
  display: flex;
  width: 2480px;
  max-width: 2480px;
  height: 3508px;
  margin: 0 auto;
  background-color: white;
}
.flex-container div:nth-child(1){
  //background-color: green;
  flex: 1 1 38.1%;
  flex-wrap: wrap;
}
.right-half{
  /*правая половина контейнера*/
  /*.flex-container div:nth-child(2){*/
  //background-color: pink;
  flex: 1 1 61.9%;
  /*margin: 0 auto;*/
}
.left-wrap1{
  margin-left: 160px;
}
.big-circle{
  position: relative;
  margin-top: 176px;
  margin-left: auto;
  margin-right: auto;
  height: 468px;
  width: 468px;
  /*background-color: lightgreen;*/
}
.big-circle__over{
  position: absolute;
  border: 1px solid #3d6cb0;
  height: 465px;
  width: 465px;
  border-radius: 232.5px;
  margin-left: auto;
  margin-right: auto;
}
.big-circle__inside{
  position: absolute;
  height: 405px;
  width: 405px;
  border-radius: 202.5px;
  background-color: #3d6cb0;
  /*@supports (-moz-appearance: none) {
    background-color: red;
}*/
  margin-top: 30px;
  margin-left: 30px;
}

.namehere{
  font-size: 104px;
  text-transform: uppercase;
  display: table;
  margin: 46px auto;
  padding-bottom: 0;
  letter-spacing: -6px;
  /*background-color: lightcoral;*/
}
.surname{
  font-size: 115px;
  font-weight: bold;
  text-transform: uppercase;
  display: table;
  margin: 0 auto;
  margin-top: -73px;
  letter-spacing: -3px;
  -moz-transform: scaleX(0.9);
  /*background-color: lightgreen;*/
}
.profession{
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  display: table;
  margin: 10px auto;
  letter-spacing: -2px;
  -moz-transform: scaleX(0.92);
  /*background-color: lightcoral;*/
}
.left-wrap2{
  margin-left: 120px;
}
.space-div-1{
  //height: 148px;
  height: var(--height);
  width: 100%;
}
.icon-header{
  display: flex;
  flex-direction: row;
  height: 149px;
  width: 100%;
  align-items: center;
  margin: auto;
  /*margin-top: 100px;*/
  justify-content: flex-start;
  /*background-color: lightgreen;*/
}
.icon-header__circle-parent{
  position: relative;
  flex: 0 0 10%;
  align-self: flex-start;

}
.icon-header__circle-min{
  position: absolute;
  border: 1px solid #3d6cb0;
  height: 146px;
  width: 146px;
  border-radius: 73px;
}
.icon-header__circle-min-solid{
  position: absolute;
  height: 134px;
  width: 134px;
  border-radius: 67px;
  background-color: #3d6cb0;
  margin-top: 7px;
  margin-left: 7px;
}
.icon-header__blue-header{
  position: absolute;
  font-size: 78px;
  font-weight: bold;
  color: #3d6cb0;
  text-transform: uppercase;
  margin-left: 166px;
  margin-top: 23px;
  padding-right: 10px;
  background-color: white;
  letter-spacing: -5px;
  -moz-transform: scaleX(0.92);
  -moz-margin-start: 152px;

}
.icon-header__blueline{
  height: 11px;
  color: #3d6cb0;
  /*width: 50px;*/
  border-bottom: 11px solid #3d6cb0;
  margin-bottom: 20px;
  margin-left: 20px;
  flex: 1 1 60%;
}
.icon-header__css-human{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: white;
  margin-top: 27px;
  margin-left: 47px;
}
.icon-header__css-human::after{
  position: absolute;
  display: block;
  height: 40px;
  width: 65px;
  content: '';
  background-color: white;
  margin-top: 37px;
  margin-left: -12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.text-profile{
  width: 100%;
  margin: 16px auto;
  font-size: 29px;
  line-height: 1.3;

  //если браузер Mozilla FireFox
  @supports (-moz-appearance:none) {
    font-family: "Myriad Pro", SansSerif, sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -1.1px;
    word-spacing: -3.9px;
    line-height: 1.27;
  }
  span{
    font-weight: bold;
    //если браузер Mozilla FireFox
    @supports (-moz-appearance:none) {
      font-family: inherit;
      font-weight: bold;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: -1.3px;
      word-spacing: -4.1px;
    }
  }
}
/*.text-profile span{
  font-weight: bold;
}*/
.contactdata{
  position: relative;
  width: 100%;
  margin: 64px auto 0 auto;
  p:nth-child(1){
    position: absolute;
    float: left;
    font-size: 38px;
    font-weight: bold;
    color: #3d6cb0;
    text-transform: uppercase;
    letter-spacing: -1px;
    -moz-transform: scaleX(0.9);
    margin-left: -7px;
  }
  p:nth-child(2){
    margin-left: 228px;
    font-size: 36px;
    letter-spacing: 1.5px;
    -moz-transform: scaleX(0.9);
  }
}
.icon-header__css-lamp{
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: white;
  margin-left: 32px;
  margin-top: 15px;
}
.icon-header__css-lamp::after{
  position: absolute;
  content: '';
  width: 35px;
  height: 20px;
  border-radius: 17px/10px;
  background-color: white;
  margin-top: 60px;
  margin-left: 17px;
}
.icon-header__css-lamp::before{
  position: absolute;
  content: '';
  width: 30px;
  height: 15px;
  border-radius: 15px/7px;
  background-color: white;
  margin-top: 84px;
  margin-left: 20px;
}
.skillsitem{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 44px auto 0 auto;
  /*background-color: lightgreen;*/
  p{
    display: table;
    /*width: 100%;*/
    margin: 0 auto;
    font-size: 47px;
    text-transform: uppercase;
    -moz-transform: scaleX(0.9);
  }
  div{
    /*display: table;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 17px auto 0 auto;
    /*height: 20px;*/
    width: 100%;
    /*background-color: aqua;*/
  }
}
.dot-blue{
  height: 35px;
  width: 35px;
  background-color: #3d6cb0;
  border-radius: 50%;
}
.dot-gray{
  height: 35px;
  width: 35px;
  background-color: #e6e6e6;
  border-radius: 50%;
}
.right-wrap1{
  margin-left: 158px;
  margin-right: 112px;
}
.svg-star{
  margin-left: 19px;
  margin-top: 13px;
}
.right-wrap2{
  margin-left: 104px;
  height: 1222px;
  /*background-color: green;*/
}
.master-degree{
  /*height: 230px;*/
  height: max-content;
  width: 90%;
  margin: 20px auto 0 0;
  padding-bottom: 4px;
  /*background-color: lightcoral;*/
}
.master-degree__line{
  position: relative;
}
.master-degree__dot-black{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  /*float: left;*/
  margin-left: -82px;
  margin-top: 10px;
}
.master-degree__headerdegree{
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  color: #3d6cb0;
  float: left;
  transform: scaleX(0.87);
  -moz-transform: scaleX(0.82);
  margin-left: -26px;
  -moz-margin-start: -40px;
  //letter-spacing: -2px;
  //font-stretch: ultra-condensed;
  /*margin-left: 60px;*/
}
.master-degree__datedegree{
  font-size: 52px;
  margin-left: 380px;
  -moz-margin-start:355px;
  margin-bottom: 5px;
  transform: scaleX(0.9);
  -moz-transform: scaleX(0.8);
  //letter-spacing: -1px;
}
.master-degree__universityname{
  font-size: 50px;
  text-transform: uppercase;
  margin-left: -81px;
  transform: scaleX(0.86);
  //letter-spacing: -1.7px;
}
.master-degree__degreetext{
  font-size: 29px;
  width: 100%;
  margin-top: 11px;
  letter-spacing: -1px;
  line-height: 1.3;
  transform: scaleX(1.07);
  margin-left: 40px;
  @supports (-moz-appearance:none) {
    letter-spacing: -2px;
    word-spacing: -1px;
  }
  /*margin-left: 60px;*/
}
.icon-header__css-schoolbag{
  position: absolute;
  width: 78px;
  height: 60px;
  background-color: white;
  margin-left: 29px;
  margin-top: 40px;
}
.icon-header__css-schoolbag::after{
  position: absolute;
  content: '';
  border: 5px solid white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: -20px;
  margin-left: 13px;
}
.master-degree__headerdegree-blue{
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  /*color: #3d6cb0;*/
  float: left;
  letter-spacing: -2px;
}
.right-wrap3{
  width: 100%;
  margin-top: -240px;
}
.icon-header__css-comp{
  position: absolute;
  width: 70px;
  height: 40px;
  border: 5px solid white;
  border-radius: 10px;
  margin-left: 27px;
  margin-top: 30px;
}
.icon-header__css-comp::after{
  position: absolute;
  content: '';
  border-bottom: 15px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 70px;
  margin-top: 50px;
  margin-left: -10px;
}
.software-container{
  position: relative;
  width: 85%;
  margin-left: 169px;
}
.software__left{
  position: absolute;
  float: left;
  width: 50%;
  height: 150px;
  /*background-color: pink;*/
}
.software__right{
  position: absolute;
  width: 50%;
  /*float: right;*/
  margin-left: 53%;
  height: 150px;
  /*background-color: green;*/
}
.software__header{
  font-size: 50px;
  text-transform: uppercase;
  //letter-spacing: -2px;
  transform: scaleX(0.9);
  margin-left: -30px;
}
.software__degree-percent-container{
  position: relative;
  width: 85%;
  margin-top: 20px;
}
.software__degree-percent-left{
  position: absolute;
  float: left;
  height: 45px;
  /*width: 90%;*/
  background-color: #3d6cb0;
}
.software__degree-percent-right{
  height: 45px;
  width: auto;
  background-color: #e6e6e6;
  margin-left: 90%;
}
.phone{
  margin-left: -260px;
  margin-top: -120px;
}